# Leave some draft files out
*draft/

.metadata
bin/
tmp/
*.out
*.log
*.txt
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# sbteclipse plugin
.target

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

## File-based project format:
*.ipr
*.iws


## Directory-based project format:
.idea/

*.iml
*.class

# Package Files #
*.jar
*.war
*.ear
